<div id="title">
<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<h3>{{web}}</h3>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultrices urna at urna egestas, ultricies ultricies lacus accumsan. In id dolor tellus. Etiam tincidunt in purus at interdum. Duis vehicula commodo magna quis feugiat. Proin in leo facilisis, egestas lacus at, pharetra nunc. Aenean mollis imperdiet diam sed porta. Nulla vel porta enim, in tincidunt mauris.
    </p>
</article>

