body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}


#logo{
    background: #235E30;
}


#menu ul li:hover{
    background: #235E30;
}

.button-more{
    background: #235E30;
}



#box{
    width: 60%;
    float: left;
    margin-top: 40px;   
}

#acordeon{
    margin-top: 20px;
}

#acordeon h3{
    background: #235E30;
    color:white;
}